<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/product/index :: dynamic(~{::main})}">
<body>

<main th:object="${item}">
    <div class="content__wrap">
        <div class="content">
            <div class="banner"
                 style="background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 28%,
                  rgba(30, 38, 44, 0) 50%), linear-gradient(rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 100%)
                 ">
            </div>
<!--            <img th:src="@{|/images/${x.image}|}" />-->
            <div class="banner__content" >
                <h2>[[*{name}]]</h2>
                <!--                <p>${item.description }</p>-->
                <div class="btn-action">

                    <button class="btn btn-edit"
                            onclick="window.location.href='/AssignmentJava5/admin/update/${product.id}'">
                        <i class="fa-solid fa-pen-to-square"></i> Sửa
                    </button>
                    <button class="btn btn-delete"
                            onclick="window.location.href='/AssignmentJava5/admin/delete/${product.id}'">
                        <i class="fa-solid fa-trash"></i> Xoá
                    </button>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info__title">
                <span>  Thông tin</span>
            </div>
            <div class="info__content">
                <div class="info__content-header">
                    <div class="video">
                        <!--                        <iframe width="560" height="315" th:src="@{item.video}" title="YouTube video player"-->
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                </div>
                <div class="info__content-main">
                    <div class="col">
                        <div class="col__item">
                            <div class="item__title">ID</div>
                            <div class="item__content">[[${item.id}]]</div>
                        </div>
                        <div class="col__item">
                            <div class="item__title">Price</div>
                            <div class="item__content">[[${item.price}]]</div>
                        </div>
                        <div class="col__item">
                            <div class="item__title">available</div>
                            <div class="item__content">[[${item.available}]]</div>
                        </div>
                        <div class="col__item">
                            <div class="item__title">category</div>
                            <div class="item__content">[[${item.category.name}]]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>