<html xmlns:th="http://www.thymeleaf.org">
<div class="sidebar__title" >
    <h1>Trang chủ</h1>
</div>
<div class="sidebar__support-wrapper">

    <div class="sidebar__fillter-wrapper">
        <div class="btn__add">
            <button
                    onclick="window.location.href='/AssignmentJava5/admin/insert'">Thêm
            </button>
        </div>
        <div class="btn__add">
        <button
                onclick="window.location.href='/order/list'">Your Order
        </button>
        </div>
        <form action="/Assignment/admin/find" method="POST">
            <div class="sidebar__search">
                <input type="text" name="name" placeholder="Tìm kiếm theo tên"
                       class="search js-keyup" id="key">
            </div>
            <div class="sidebar__search" style="margin-top: 5px;">
                <input type="text" name="price" placeholder="Tìm kiếm theo giá"
                       class="search">
            </div>
            <div class="btn__add" style="margin-top: 5px;">
                <button>Lọc</button>
            </div>
            <div class="event__fillter">
                <div th:replace="/layout/product/_category"></div>
            </div>
        </form>
        <div class="btn__add" >
            <button
                    onclick="window.location.href='/AssignmentJava5/admin/insertCate'">Thêm
                danh mục
            </button>
            <button
                    onclick="window.location.href='/order/list'">Your Order
            </button>
        </div>
    </div>
</div>
<div class="sidebar__login">
    <div class="sidebar__login" th:if="${#request.remoteUser}">
        <button class="sidebar__login-btn">
					<span style="text-transform: capitalize; font-weight: 800;">[[${#request.remoteUser}]]
					</span>
        </button>

        <button class="sidebar__login-btn"
                onclick="window.location.href='/security/logoff'">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
    </div>
    <div class="sidebar__login" th:unless="${#request.remoteUser}">
        <div class="sidebar__login">
            <button class="sidebar__login-btn" onclick="window.location.href='/security/login/from'">
                <i class="fa-solid fa-right-to-bracket"></i> <span> Đăng Nhập </span>
            </button>
            <button class="sidebar__login-btn" onclick="window.location.href='/register'">
                <i class="fa-solid fa-user-plus"></i>
            </button>
            <button class="sidebar__login-btn" onclick="window.location.href='/forgot'">
                <i class="fa-solid fa-key"></i>
            </button>
        </div>
    </div>
</div>

</html>

