<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/CSS/index.css">
    <title>Title</title>
</head>
<body>
    <div class="content__wrap">
        <div class="content">
            <!-- tab  -->
            <div class="banner__wrapper">
                <div id="tab1" class="banner">
                    <div class="banner__content">
                        <h2>Solo Leveling</h2>
                        <p>Trong một thế giới mà những thợ săn, những con người sở
                            hữu khả năng phép thuật, phải chiến đấu với những con quái vật
                            chết người để bảo vệ loài người khỏi sự hủy diệt, một thợ săn
                            nổi tiếng yếu ớt tên là Sung Jin-woo thấy mình ở trong một cuộc
                            đấu tranh sinh tồn dường như bất tận. Một ngày nọ, sau khi sống
                            sót trong gang tấc trong một hầm ngục đôi cực kỳ mạnh mẽ, thứ
                            gần như đã xóa sổ toàn bộ nhóm của anh, một chương trình bí ẩn
                            có tên Hệ thống đã chọn anh làm người chơi duy nhất, đổi lại, nó
                            trao cho anh một khả năng cực kỳ hiếm có là tăng cấp sức mạnh,
                            có thể vượt xa bất kỳ giới hạn đã biết nào. Jin-woo sau đó đã
                            bắt đầu một cuộc hành trình mới khi anh phải chiến đấu chống lại
                            tất cả các loại kẻ thù, cả con người lẫn quái vật, để khám phá
                            bí mật của các hầm ngục và nguồn gốc thực sự của sức mạnh của
                            mình.</p>
                    </div>
                </div>
                <div id="tab2" class="banner">
                    <div class="banner__content">
                        <h2>Sora no Otoshimono</h2>
                        <p>Sakurai Tomoki, 14 tuổi, một học sinh trung học "bình
                            thường" có phương châm là "Hòa bình và yên tĩnh là tốt nhất", và
                            thường có ước mơ gặp gỡ một thiên thần. Cậu cảm thấy thật khó
                            khăn để sống thoải mái khi anh phải đối mặt với bạn cùng lớp
                            Sohara Mitsuki và cũng là người hàng xóm bên cạnh nhà cậu có võ
                            karate giết người; Eishiro Sugata, một nhà khoa học lập dị với
                            mong muốn khám phá ra "Thế giới mới"; và Mikako Satsukitane, chủ
                            tịch hội học sinh tàn bạo của trường. Một hôm, để tìm hiểu
                            nguyên nhân, cậu theo lời Sugata lên đỉnh ngọn đồi gần nhà chờ
                            đợi. Bỗng nhiên, một hố đen hiện ra và… xuất hiện
                            một-cô-gái-từ-trên-trời-rơi-xuống theo đúng nghĩa đen! Cô gái
                            tên Ikaros, xưng là angeloid thế hệ Alpha, tự nhận Tomoki là chủ
                            nhân của mình và theo cậu về nhà. Từ đó trở đi, nhiều sinh vật
                            được gọi là "Angeloids" đến; sự yên bình của cậu đến đây là chấm
                            dứt nhưng đồng thời tìm thấy những điều dễ chịu mà các Angeloids
                            mang lại cho cậu, và chiến đấu với các điều tồi tệ xuống Trái
                            đất</p>
                    </div>
                </div>
                <div id="tab3" class="banner">
                    <div class="banner__content">
                        <h2>Hataraku Maou-sama!!, The Devil is a Part-Timer!</h2>
                        <p>Wagahara Satoshi thực hiện và minh họa bởi Oniku. Tác phẩm
                            đã đăng trên tạp chí Dengeki Bunko của ASCII Media Works từ ngày
                            10 tháng 2 năm 2011. Cốt truyện xoay quanh chúa quỷ Satan sau
                            khi thất thủ trong việc chiếm toàn thế giới của mình đã rút đến
                            một thế giới khác thông qua cổng chuyển dịch mà trường hợp này
                            là đến Nhật Bản. Nhưng tại thế giới này chúa quỷ lại thấy rằng
                            không thể sử dụng phép thuật một cách tự nhiên mà phải rất hạn
                            chế và để hòa nhập với thế giới này Satan đã làm việc bán thời
                            gian chờ thời điểm để quay trở về. Những người đánh bại chúa quỷ
                            cũng theo đến thế giới này để chắc chắn rằng chúa quỷ sẽ không
                            trở lại nhưng cũng mất luôn phép thuật nên dù tìm thấy được
                            Satan thì cũng chẳng làm gì được nhau vì thế cuộc sống cứ thế
                            tiếp tục, theo thời gian mọi người bắt đầu hiểu nhau hơn và các
                            nhân vật mới bắt đầu xuất hiện và nảy sinh nhiều tình huống hài
                            hước.</p>
                    </div>
                </div>
                <div id="tab4" class="banner">
                    <div class="banner__content">
                        <h2>Sword Art Online</h2>
                        <p>Bản được viết bởi Kawahara Reki và minh họa bởi abec. Bộ
                            truyện lấy bối cảnh tương lai gần về sự xuất hiện của thế giới
                            VRMMO. Bộ light novel được xuất bản dưới nhãn hiệu ASCII Media
                            Works Dengeki Bunko từ ngày 10 tháng 4 năm 2009. Một bộ anime
                            sản xuất bởi A-1 Pictures được công chiếu tại Nhật Bản từ tháng
                            bảy đến tháng 12 năm 2012. Một bộ anime mùa thứ hai có tên Sword
                            Art Online II đã được phát hành vào tháng 7 năm 2014. Cũng trong
                            năm đó, tập phim đặc biệt Sword Art Online: Extra Edition được
                            ra mắt. Vào năm 2017, phim điện ảnh Sword Art Online: Ranh giới
                            hư ảo được công chiếu trên toàn thế giới. Một bộ phim hoạt hình
                            điện ảnh chuyển thể từ Sword Art Online: Progressive có tựa đề
                            Sword Art Online Progressive: Hoshi Naki Yoru no Aria được công
                            chiếu vào ngày 30 tháng 10 năm 2021 tại Nhật Bản. Phần phim thứ
                            hai mang tên Sword Art Online Progressive: Scherzo of a Dark
                            Dusk dự kiến ​​ra mắt vào năm 2022.</p>
                    </div>
                </div>
                <div id="tab5" class="banner">
                    <div class="banner__content">
                        <h2>OVERLORD</h2>
                        <p>Overlord lấy bối cảnh vào năm 2138 trong tương lai, khi
                            khoa học công nghệ phát triển vượt bậc và ngành game thực tế ảo
                            đang nở rộ hơn bao giờ hết. Câu chuyện bắt đầu trong những giây
                            phút cuối tại tại Yggdrasil, một game online đình đám sắp phải
                            đóng cửa. Nhân vật chính Momonga quyết định ở lại đến tận những
                            phút cuối cùng với trò chơi yêu thích của mình và chờ server
                            down. Bất ngờ, server không shutdown, Momonga bị mắc kẹt trong
                            nhân vật của chính mình và dịch chuyển tới một thế giới khác. Vị
                            chúa tể hùng mạnh của đại lăng tẩm Nazarick giờ đây lại tiếp tục
                            đi khám phá thế giới mới và đối mặt với những thử thách mới.
                            Không gia đình, bạn bè, địa vị xã hội, người đàn ông bình thường
                            ấy sẽ cố gắng hết sức để thống trị thế giới mới này.</p>
                    </div>
                </div>
                <div class="tab__btn">
                    <a href="javascript:void(0)" onclick="openTab(event,'tab1')"
                        class="tab__item"> <img
                        src="https://animehunch.com/wp-content/uploads/2022/06/Solo-Leveling.jpg"
                        alt="">
                    </a> <a href="javascript:void(0)" onclick="openTab(event,'tab2')"
                        class="tab__item"> <img
                        src="https://upload.wikimedia.org/wikipedia/vi/e/eb/Sora_no_Otoshimono_DVD_01_cover.jpg"
                        alt="">
                    </a> <a href="javascript:void(0)" onclick="openTab(event,'tab3')"
                        class="tab__item"> <img
                        src="https://i0.wp.com/www.monstersandcritics.com/wp-content/uploads/2021/03/The-Devil-is-a-Part-Timer-Season-2-release-date-Hataraku-Maou-sama-Season-2-2021.jpg?resize=780%2C439&ssl=1"
                        alt="">
                    </a> <a href="javascript:void(0)" onclick="openTab(event,'tab4')"
                        class="tab__item"> <img
                        src="https://gamek.mediacdn.vn/133514250583805952/2022/3/7/sword-art-online-16466411035761615694582.jpg"
                        alt="">
                    </a><a href="javascript:void(0)" onclick="openTab(event,'tab5')"
                        class="tab__item"> <img
                        src="https://www.animegeek.com/wp-content/uploads/2021/05/Overlord-Season-4-release-date-2022-anime.jpg"
                        alt="">
                    </a>
                </div>
            </div>
            <!-- end tab  -->
            <!-- slider  -->

            <div class="slider">
                <c:forEach items="${list}" var="x">
                    <div class="card">
                        <a href="card-detail.html">
                            <div class="card__top">
                                <img src="${pageContext.request.contextPath}/img/${x.image}" />
                            </div>
                            <div class="card__main">
                                <div class="card__main-title">${x.name }</div>
                                <div class="card__main-description">${x.description}</div>
                                <div class="card__main-like">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </c:forEach>
            </div>
            <!-- slider  -->

        </div>
    </div>
</body>
</html>