
  <ul>
    <li class="logo"><a href="#"> <img
            src="https://upload.motgame.vn/photos/motgame-vn/2022/05/Spy-x-family-Anya_3.jpg"
            alt="logo">
    </a></li>
    <li class="item active"><a href="/home">
      <i class="fa-solid fa-house"></i>
    </a></li>
    <li class="item"><a href="/product/list"> <i
            class="fa-solid fa-tag"></i>
    </a></li>
    <li class="item "><a href="/cart/view"> <i
            class="fa-solid fa-cart-shopping"></i>
    </a></li>
    <li class="item "><a href="/accountlist">
      <i class="fa-solid fa-list"></i>
    </a></li>
  </ul>
